<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Data Rendering</title>
</head>
<body  style="background-color: black; color:white;">
    <% data.forEach(function(item) { %>
        <div>
            <pre><%= JSON.stringify(item, null, 2) %></pre>
        </div>
    <% }); %>
</body>
</html>
